* {
  margin: 0;
  font-family: "Inter";
}
header {
  background-image: linear-gradient(rgba(34, 34, 34, 0), rgb(0, 0, 0)), url("../images/donation2.jpg");
  background-repeat: no-repeat;
  /* background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%); */
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.header {
  padding: 175px 305px;
  color: white;
  text-align: center;
}
.header-title {
  font-weight: 700;
  font-size: 65px;
}
.header-description {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.primary-btn {
  background: #ff5959;
  border-radius: 5px;
  padding: 16px 12px;
  border: none;
  color: white;
}
main {
  margin: 0 155px;
}
section {
  margin-top: 130px;
}

/* container styles */
.donate {
  text-align: center;
}
.container-title {
  font-weight: 700;
  font-size: 45px;
  color: #121212;
  /* margin-top: 130px; */
  margin-bottom: 20px;
}
.container-description {
  font-size: 18px;
  color: #707070;
}

/* box styles */
.boxes {
  display: flex;
  gap: 22px;
  justify-content: center;
  margin-top: 50px;
}
.box-content {
  padding: 22px 43px;
  background: #fafafa;
  border-radius: 5px;
  text-align: center;
}
.active {
  color: #ff5959;
  border: 2px solid #ff5959;
}
hr {
  /* border: 1px solid #dadada; */
  color: #dadada;
  margin-bottom: 30px;
}
.donate p {
  margin-top: 60px;
  margin-bottom: 9px;
}
/* donate plan styles */
.donate-plan {
  text-align: center;
}
.donate-plan-items {
  display: flex;
  gap: 24px;
  margin-top: 50px;
}
.donate-item {
  border-radius: 5px;
  text-align: left;
  padding: 0 23px;
}
.donate-item img {
  padding-top: 60px;
  padding-bottom: 30px;
}
.plan-title {
  color: #121212;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 24px;
}
.plan-description {
  color: #707070;
  padding-bottom: 54px;
}
.first {
  background: rgba(79, 157, 166, 0.1);
}
.second {
  background: rgba(255, 89, 89, 0.1);
}
.third {
  background: #fff4d6;
}
/* donation blogs styles */
.donation-blog {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}
.blog-title {
  font-weight: 700;
  font-size: 45px;
  color: #121212;
  margin-bottom: 20px;
}
.blog-description {
  font-size: 18px;
  color: #707070;
  margin-bottom: 20px;
}
.image {
  margin-bottom: 100px;
}
.image > img {
  border-radius: 5px;
}

/* form styles */
.update-blog {
  text-align: center;
  margin-bottom: 50px;
}
.update-form {
  background: #fff4d6;
}
.form-data {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-data input {
  background: #d9d9d9;
  border-radius: 5px 0px 0px 5px;
  width: 275px;
  height: 48px;
  border: none;
}
.form {
  padding-left: 17px;
  color: #AA9F9F;
  font-weight: 500;
}
.form-btn {
  width: 157px;
  height: 48px;
  border-radius: 0px 5px 5px 0px;
  background: #FF5959;
  border: none;
}
/* be humble styles */
.content {
  
}
.be-humble {
  padding: 43px;
  background: #0B0D17;
  text-align: center;
}
.be-humble h3 {
  font-family: 'Lobster';
  color: #FF5959;
  font-size: 36px;
  padding-bottom: 48px;
}
.be-humble p {
  color: #D9DBE1;
  font-size: 14px;
}
/* Responsive Styles */
@media screen and (max-width: 576px) {
  
}
@media screen and (min-width: 576px) and (max-width:992px) {
  
}